# Excluir todos los node_modules
frontend/node_modules/
backend/node_modules/
backend/config/
backend/ssl
# Otros archivos o carpetas que desees excluir
.vscode/
.idea/
*.log
*.env
# Ignorar archivos de configuración de Google Cloud
*.json
*.key
.env