<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
<div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>
<!-- navbar -->
     
<!-- logo -->
      <div class="logo"><span>      <img class="img" src="./assets/minseg.png" alt="">
      </span></div>
<!-- title & content -->
      <section class="header-content ">
       
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form *ngIf="userType === 'administrador'|| userType === 'usuarioDOP'" cForm>
              <div class="card text-white custom-card">
                <div class="card-body text-center p-2">
                  <h6 class="card-title font-weight-bold mb-0">Registro</h6>
                </div>
              </div>
              <div *ngIf="message" class="alert alert-{{type}}" role="alert">
                {{ message }}
              </div>
        

              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input cFormControl placeholder="Nombre y Apellido" name="nombre" [(ngModel)]='nombre' />
              </c-input-group>
             
              <c-input-group class="mb-3">
                <span cInputGroupText>&#35;</span>

                <input
                  cFormControl
                  type="number"
                  step="1"
                  min="0"
                  placeholder="Legajo"
                  name="legajo"
                  [(ngModel)]="legajo"
                  (input)="limpiarLegajo($event)"
                />

                <button class="btn btn-primary" type="button" (click)="buscarUsuario()">
                  <i class="bi bi-search"></i> <!-- Icono de lupa -->
                </button>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" cFormControl placeholder="Email" name="email" [(ngModel)]='email' />
              </c-input-group>

            
                            <!-- Unidad Regional -->
              <div class="form-group mb-3">
              
                <select id="unidad_regional" name="unidad_regional"
                  [(ngModel)]="unidad_regional_id"
                  class="form-select"
                  (change)="onUnidadRegionalChange($event)">
                  <option value="" disabled selected>Seleccione unidad regional</option>
                  <option *ngFor="let unidad of unidadesRegionales" [value]="unidad.id">{{ unidad.unidad_regional }}</option>
                </select>
              </div>
              
              <!-- Dependencia -->
              <div class="form-group mb-3">
         
                <select id="dependencia" name="dependencia"
                  [(ngModel)]="dependencia_id"
                  class="form-select"
                  required
                  (change)="onDependenciaChange()">
                  <option value="" disabled selected>Seleccione dependencia</option>
                  <option *ngFor="let dep of dependencias" [value]="dep.id">{{ dep.juridiccion }}</option>
                </select>
              </div>

                   <!-- Campo desplegable para seleccionar el perfil -->
              <c-input-group class="mb-4">
                <span cInputGroupText>Perfil</span>
                <select cFormControl [(ngModel)]="perfil" name="perfil">
                  <option value="usuario">Usuario Común</option>
                  <!-- con encargadoUnidad vamos a hacer todos los usuarios que dependen o administran una dependencia de esta manera podremos discriminar la novedades por dependencia -->
                  <option value="EncargadoUnidad">Encargado de unidad</option>
                  <option value="usuario911">Usuario 911</option>
                  <option value="usuarioDOP">Usuario D.O.P.</option>
                  <option *ngIf="userType === 'administrador'" value="administrador">Administrador</option>
                </select>

              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" type="password" name="password" [(ngModel)]='password'/>
              </c-input-group>

              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" name="repeatpassword" [(ngModel)]='repeatpassword'/>
              </c-input-group>

           


              <div class="d-flex justify-content-center">
                <button cButton color="success" (click)="register()">
                  <ng-container *ngIf="loadingregister; else registerButton">
                    <c-spinner aria-hidden="false" size="sm"></c-spinner>Cargando...
                  </ng-container>
                  <ng-template #registerButton>
                    Crear Cuenta
                  </ng-template>
                </button>

                <button (click)="actualizarDatos()" class="btn btn-primary">Actualizar</button>
              </div>
              <br>

            </form>
          
            <div class="card text-white custom-card">
              <div class="card-body text-center p-2">
                <h6 class="card-title font-weight-bold mb-0">MI PERFIL</h6>
              </div>
             
            </div> 
            <br>
<!-- 
             <div *ngIf="userType !== 'administrador'" class="alert alert-danger" role="alert">
              No tienes permisos para registrar nuevos usuarios.
            </div> -->
            <form *ngIf="userData" cForm>
              <c-input-group class="mb-3">
                <span cInputGroupText>Nombre</span>
                <input cFormControl placeholder="Nombre" name="nombre" [(ngModel)]='userData.nombre' disabled />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>Legajo</span>
                <input cFormControl placeholder="Legajo" name="legajo" [(ngModel)]='userData.legajo' disabled />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>Email</span>
                <input cFormControl placeholder="Email" name="email" [(ngModel)]='userData.email' disabled />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>Perfil</span>
                <input cFormControl placeholder="Perfil" name="perfil" [(ngModel)]='userData.perfil' disabled />
              </c-input-group>
            </form>
            <div class="d-flex justify-content-center">
              <button cButton color="secondary" routerLink="/dashboard">
                Volver al Inicio
              </button>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>

</section>
</header>
</div>
