.titulo {
  color: #112d4d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card {
  background-color: #081a2e; /* Color azul */
  color: white; /* Color del texto */
}

.custom-card2 {
  background-color: #0f2f53; /* Color azul */
  color: white; /* Color del texto */
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-modal-header {
  background-color: #0f2f53; /* Color azul */
  color: white; /* Color del texto */
}
.custom-modal-header2 {
  background-color: #124b8d; /* Color azul */
  color: white; /* Color del texto */
}

.camera-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.camera-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

video {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 10px;
}

#camera-modal .modal-dialog {
  max-width: 600px; /* Ajusta este valor según el tamaño deseado */
  width: auto !important;
}

#camera-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#camera-modal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#camera-modal video {
  width: 100%;
  height: auto;
}
.btn-close-red {
  background-color: red;
  border: none;
  opacity: 1;
}

.btn-close-red:hover {
  background-color: darkred;
}
/*/* Clase para bloquear el scroll del body */
/* Estilos para el modal personalizado */
.modal-personalizado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del contenido del modal */
.modal-contenido {
  background-color: white;
  border-radius: 8px;
  width: 500px; /* Ancho del modal */
  max-width: 90%; /* Para que no se salga de la pantalla en móviles */
  max-height: 90vh; /* Altura máxima para evitar que el modal sea demasiado grande */
  overflow-y: auto; /* Permite scroll dentro del modal si el contenido es grande */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Mantiene su posición */
}

/* Encabezado del modal */
.modal-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #0f2f53;
  color: white; /* Color del texto */
  border-bottom: 1px solid #0f2f53;
}

/* Botón para cerrar el modal */
.btn-cerrar {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Cuerpo del modal */
.modal-cuerpo {
  padding: 16px;
  overflow-y: auto; /* Permite scroll dentro del cuerpo del modal */
  max-height: 60vh; /* Altura máxima para evitar que el contenido sea demasiado grande */
}

/* Pie del modal */
.modal-pie {
  padding: 16px;
  border-top: 1px solid #ddd;
  text-align: right;
}

/* Estilos para los botones */
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secundario {
  background-color: #6c757d;
  color: white;
}

.btn-primario {
  background-color: #007bff;
  color: white;
  margin-left: 8px;
}

/* Estilos para el panel desplegable de ng-select */
.ng-dropdown-panel {
  z-index: 9999 !important; /* Mayor que el modal */
  position: fixed !important; /* Fija el panel desplegable */
  background: white !important;
  border: 1px solid #ccc !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  width: 24px;
  height: 24px;
  accent-color: #007bff; /* Color del checkbox */
  cursor: pointer;
}

.checkbox-container label {
  font-weight: bold;
  color: #333;
}
