<div class="card text-white custom-card">
  <div class="card-body text-center p-2">
    <h6 class="card-title font-weight-bold mb-0">LISTADO DE PARTES DIARIOS</h6>
  </div>
</div>
<br>
<!-- <div class="row"> -->
  <!-- Filtros avanzados -->
  <!-- <div class="col-md-3" *ngIf="mostrarFiltrosAvanzados">
    <div class="row align-items-end">
      <div class="col-auto">
        <label for="tipoFiltro" class="form-label mb-0 me-2">Partes diarios:</label>
      </div>
      <div class="col-auto">
        <select id="tipoFiltro" class="form-select" [(ngModel)]="tipoFiltro" (change)="onTipoFiltroChange()">
          <option value="ultimos7">Últimos 7 días</option>
          <option value="todos">Todos</option>
          <option value="unidad">Unidad Regional</option>
        </select>
      </div>
    </div>
  </div> -->
  <!-- Filtros por unidad regional y fechas -->
  <!-- <ng-container *ngIf="tipoFiltro === 'unidad'">
    <div class="col-md-3">
      <label for="filtroUnidad" class="form-label">Filtrar por Unidad Regional</label>
      <select id="filtroUnidad" class="form-select" [(ngModel)]="unidadFiltro" (change)="onUnidadFiltroChange()">
        <option value="">Seleccionar...</option>
        <option *ngFor="let ur of unidadesRegionales" [value]="ur">{{ ur }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="fechaInicio" class="form-label">Fecha desde</label>
      <input id="fechaInicio" type="date" class="form-control" [(ngModel)]="fechaInicioFiltro">
    </div>
    <div class="col-md-3">
      <label for="fechaFin" class="form-label">Fecha hasta</label>
      <input id="fechaFin" type="date" class="form-control" [(ngModel)]="fechaFinFiltro">
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <button class="btn btn-primary w-100" (click)="filtrarPorUnidadYFecha()">Filtrar</button>
    </div>
  </ng-container> -->
  <!-- Botón exportar -->
  <!-- <div class="col-md-2" *ngIf="mostrarFiltrosAvanzados">
    <button class="btn btn-success w-100" (click)="exportarExcel()">
      <i class="bi bi-file-earmark-excel"></i> Exportar a Excel
    </button>
  </div>
</div> -->
<br>
<div class="table-responsive">
  <table class="table table-bordered border-primary table-sm table-custom">
    <thead>
      <tr>
        <th class="text-center text-small">Id</th>
        <th class="text-center text-small">Unidad Regional</th>
        <th class="text-center text-small">Dependencia</th>
        <th class="text-center text-small">Fecha</th>
      
        <th class="text-center text-small">Tipo de Horario</th>
        <th class="text-center text-small">Destinatario</th>
        <th class="text-center text-small" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parte of partesFiltrados">
        <td class="text-center text-small">{{ parte.id }}</td>
        <td class="text-center text-small">{{ parte.unidad_regional_nombre }}</td>
        <td class="text-center text-small">{{ parte.dependencia_nombre }}</td>
        <td class="text-center text-small">{{ parte.fecha_desde }}-{{ parte.fecha_hasta}}</td>
        <td class="text-center text-small">{{ parte.tipoHora }}</td>
        <td class="text-center text-small text-truncate-custom">{{ parte.destinario }}</td>
                <td class="text-center text-small">
          <ng-container *ngIf="userInfo?.perfil !== 'usuarioDop' && userInfo?.perfil !== 'usuario'">
            <button class="btn btn-warning btn-sm" (click)="editarParte(parte.id!)" title="Editar">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="eliminarParte(parte.id!)" title="Eliminar">
              <i class="bi bi-x"></i>
            </button>
          </ng-container>
          <button
            (click)="generateParteDiarioPDF(parte.id!)"
            title="Generar PDF"
            class="btn btn-primary btn-sm">
            <i class="bi bi-file-earmark-text"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>