.option_placeholder{
    color:gray
}
.custom-card {
    background-color: #081a2e; /* Color azul */
    color: white; /* Color del texto */
  }
  .custom-card2 {
    background-color: #0f2f53; /* Color azul */
    color: white; /* Color del texto */
  }

    .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
    .custom-modal-header {
    background-color: #0f2f53; /* Color azul */
    color: white; /* Color del texto */
  }